<div class="box">
  <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-12 pull-left">
          <a ui-sref="app.playerControll({type: 'step-backward'})">
             <i class="glyphicon glyphicon-step-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'fast-backward'})">
             <i class="glyphicon glyphicon-fast-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'backward'})">
             <i class="glyphicon glyphicon-backward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'stop'})">
             <i class="glyphicon glyphicon-stop"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'pause'})">
             <i class="glyphicon glyphicon-pause"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'forward'})">
             <i class="glyphicon glyphicon-forward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'fast-forward'})">
             <i class="glyphicon glyphicon-fast-forward"></i>
          </a>
          <a ui-sref="app.playerControll({type: 'step-forward'})">
             <i class="glyphicon glyphicon-step-forward"></i>
          </a>

          <a ng-click="toggleSetting();">
             <i class="pull-right glyphicon glyphicon-cog" ></i>
          </a>
          <div class="pushRightSide">
            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'volumedown'})">
               <i class="glyphicon glyphicon-minus"></i>
            </a>
            <span ng-hide="playerSetting"> {{model.sound.volume}} % </span>
            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'volumeup'})">
               <i class="glyphicon glyphicon-plus"></i>
            </a>

            <a ng-hide="playerSetting" ui-sref="app.playerControll({type: 'mute'})">
              <i ng-hide="playerSetting" class="glyphicon glyphicon-volume-off" ng-class="{setYellow: model.sound.mute == 'true' }"></i>
            </a>
          </div>
      </div>
    </div>
</div>
