<div class="box">
    <div class="input-group">
      <input type="search" ng-model="query" ng-keyup="youtubeAPI()" class="form-control" id="youtubeSearch" placeholder="Youtube Search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="postUrlQuerySubmit" ng-click="youtubeAPI()">Search</button>
      </span>
    </div>
    <dl class="viewBig">
        <dt  ng-repeat-start="item in YoutubeResults" ngCloak>
            <youtube-Thumbnail url="item.source" size='64' />
        </dt>
        <dd>
          <a ui-sref="app.action({ type: 'add',id:item.source })" class="title"  title="add item to playlist" >
             <i class="glyphicon glyphicon-plus playIcon" ></i> {{item.title}}
          </a>
        </dd>

        <dd class="pushRightSide">
            <a ng-click="getUrl($index +'_url')">url</a>
        </dd>
        <input id="{{$index + '_url'}}" class="hide form-control" type="text" value="{{item.source}}" >
        <hr ng-repeat-end>
    </dl>
</div>
