body {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}
iframe {
  width: 100%;
  padding: 3px;
  margin: 3px;
  background-color: #666;
  border: 1px outset #fff;
  border-radius: 9px;
}

    #switch-control {
      width: 120px;
    }

    #sound-control {
      width: 120px;
    }

    #screen-control {
      width: 130px;
    }

    #cleanup-control table {
      background-color: #000;
      border: 0;
    }

    .panel-column {
      display: table-cell;
      vertical-align: top;
    }

   .panel-row {
      display: inline-block;
      vertical-align: top;
    }

   .panel-row div {
      display: inline-block;
      vertical-align: top;
    }

* table {
  width: 100%;
  padding: 3px; 
  margin: 3px;
  background-color: #444;
  border: 1px outset #fff;
  border-radius: 9px;
}

td {
  text-overflow:clip;
  white-space:nowrap;
}

input {
  width: 100%;
  border: 1px solid #fff;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 4px;
}
.dropdown {
  padding: 2px;
  border: 1px outset #fff;
  border-radius: 9px;
  background-color: #666;
}

.dropdown * {
  color: #fff;
  border: 0;
  background-color: #666;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 20px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 85%;
  border-radius: 9px;
  white-space:nowrap;
  cursor: pointer;
}

.toggle {
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 20px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 85%;
  border-radius: 9px;
}

.up {
  border: 1px outset #fff;
  background-color: #666;
}


.down {
  border: 1px inset #fff;
  background-color: #888;
}

.header {
  border: 1px solid #888;
  text-align: center;
  background-color: #222;
  border-radius: 5px;
}

#logo {
        background: url(../img/logo.png);
        height: 180px;
        width: 180px;
        text-indent: -9999px;
        margin: 10px;
}


td {
  vertical-align: top;
  padding: 0px 10px 0 10px;
}

.left {
background-color: #222;
white-space:nowrap;
}

.right {
text-align:left;
text-overflow:clip;
white-space:nowrap;
width: 100%;
}

li {
text-align:left;
text-overflow:clip;
font-size: 70%;
}

