<div class="box">
    <ul class="menu">
        <li class="menu">
            <a ui-sref="app" title="Playlist"><i class="glyphicon glyphicon-th-list" ></i>
            <span > Playlist</span>
            </a>
        </li>
        <li class="menu">
            <a ui-sref="app.search" title="Youtube Search"><i class="fa fa-youtube-play"></i>
            <span > Search</span>
            </a>
        </li>
        <li class="menu">
            <a ui-sref="app.posturl" title="Post a link"><i class="glyphicon glyphicon-link"> </i>
            <span > Url</span>
            </a>
        </li>
    </ul>
</div>
