<div class="box">
    <dl class="viewBig">
        <dt  ng-repeat-start="item in model.playlist.items" ngCloak>
            <youtube-Thumbnail url="item.source" size='64' />
        </dt>
        <dd>
            <a ui-sref="app.action({ type: 'play',id:$index })" ng-class="{activeItem: $index==model.playlist.index}" class="title" title="play">
                <i class="glyphicon glyphicon-play playIcon"></i> {{$index + 1}} - {{item.title}}
            </a>
        </dd>

        <dt class="pushRightSide">
            <a ui-sref="app.action({ type: 'del',id:$index })">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </dt>

        <dd class="pushRightSide">
            <a ng-click="getUrl($index +'_url')">url</a>
        </dd>
        <input id="{{$index + '_url'}}" class="hide form-control" type="text" value="{{item.source}}" >
        <hr ng-repeat-end>
    </dl>
</div>
