Package: screeninvader-misc
Version: 0.9.1
Architecture: i386
Maintainer: Amir Hassan <amir@viel-zu.org>
Installed-Size: 1099
Section: misc
Priority: optional
Homepage: http://screeninvader.com
Description: ScreenInvader misc files
