body {
  background-color: #111;
  color: #eee;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: #ddd;
}
a:hover {
  color: #999;
}

div {
  display: inline-block;
}

fieldset {
  border: 0 none;
}

h1 {
  font-size: 1.3em;
}

input[type=text] {
  width: 150px;
}

.panel-row {
  width: 250px;
  border: 1px solid;
  border-radius: 8px;
  padding: 0 0 10px;
  margin: 20px 0;
  text-align: center;
  background-color: #222;
}

.displayblock {
  display: block;
}

.displaynone {
  display: none;
}

.aligntop {
  vertical-align: top;
}

.disabled-input {
  cursor: default;
  background-color: #333;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  border-top: 1px solid #333;
}
ul li label {
  width: 80%;
  display: inline-block;
  margin: 0 0 5px;
}

input, select {
  border-radius: 5px;
}

input[type=submit] {
  font-size: 1.3em;
}
