# Unknown net device (/devices/platform/omap2_mcspi.4/spi4.0/net/wlan0) (wl1251)
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="?*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
